@import "tailwindcss";

@theme {
  --color-neutral-fg1: #333333;
  --color-neutral-fg1-hover: #191919;
  --color-neutral-fg1-press: #000000;
  --color-neutral-fg1-disabled: #cccccc;
  --color-neutral-fg2: #7f7f7f;
  --color-neutral-fg3: #ffffff;

  --color-neutral-bg1: #ffffff;
  --color-neutral-bg2: #f0f0f0;

  --color-neutral-st2: #cccccc;
  --color-neutral-st2-hover: #b3b3b3;
  --color-neutral-st2-press: #999999;
  --color-neutral-st2-disabled: #cccccc;
  --color-neutral-st3: #e6e6e6;

  --color-primary: #009595;
  --color-primary-hover: #007070;
  --color-primary-press: #004a4a;
  --color-primary-disabled: #99e3e3;
  --color-primary-soft: #e0f7f7;

  --color-error: #d61e20;
  --color-error-hover: #ab181a;
  --color-error-press: #801213;
  --color-error-disabled: #efa5a6;
  --color-error-soft: #fae4e4;

  --color-success-bg: #e3f6e9;
  --color-success-fg: #17b24a;

  --text-display-3: 64px;
  --text-display-3--line-height: 80px;
  --text-title-3: 18px;
  --text-title-3--line-height: 24px;
  --text-body-1: 16px;
  --text-body-1--line-height: 24px;
  --text-body-2: 14px;
  --text-body-2--line-height: 20px;
  --text-caption-1: 12px;
  --text-caption-1--line-height: 16px;
  --text-caption-2: 10px;
  --text-caption-2--line-height: 12px;

  --tracking-display-3: -1.28px;
  --tracking-title-3: -0.36px;
  --tracking-body-1: -0.32px;
  --tracking-body-2: -0.28px;
  --tracking-caption-1: -0.24px;
  --tracking-caption-2: -0.2px;

  --shadow-toast: 0px 8px 40px rgba(37, 51, 67, 0.24);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--color-neutral-bg2);
  color: var(--color-neutral-fg1);
}
